.post-author {
    background: #2e2e33;
    display: flex;
    margin-bottom: 14px;
    padding: 20px;
    border-radius: var(--radius);
}

.post-author-image {
    margin-right: 30px;
}

.post-author-image img {
    width: 160px;
    border-radius: 50%;
}

.post-author-content {
    width: 100%
}

@media screen and (max-width: 992px) {
    .post-author-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }

.post-author-description {
    color: var(--secondary);
}

.post-author-social {
    margin-top: 20px;
}

.post-author-social a {
    margin-inline-end: 4px
}
